/**
 * BUTANECSS GRID DOCS
 */

.grid {
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.grid__item {
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.grid--padded {
  margin-right: -2.5rem;
  margin-left: -2.5rem;
}

.grid--padded > .grid__item {
  padding-right: 2.5rem;
  padding-left: 2.5rem;
}

.grid--reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.grid--top {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.grid--bottom {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.grid--center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.width-1 { width: 8.33333%; }
.width-2 { width: 16.66667%; }
.width-3 { width: 25%; }
.width-4 { width: 33.33333%; }
.width-5 { width: 41.66667%; }
.width-6 { width: 50%; }
.width-7 { width: 58.33333%; }
.width-8 { width: 66.66667%; }
.width-9 { width: 75%; }
.width-10 { width: 83.33333%; }
.width-11 { width: 91.66667%; }
.width-12 { width: 100%; }

@media only screen and (min-width: 32em) {
  .width-1\@sm { width: 8.33333%; }
  .width-2\@sm { width: 16.66667%; }
  .width-3\@sm { width: 25%; }
  .width-4\@sm { width: 33.33333%; }
  .width-5\@sm { width: 41.66667%; }
  .width-6\@sm { width: 50%; }
  .width-7\@sm { width: 58.33333%; }
  .width-8\@sm { width: 66.66667%; }
  .width-9\@sm { width: 75%; }
  .width-10\@sm { width: 83.33333%; }
  .width-11\@sm { width: 91.66667%; }
  .width-12\@sm { width: 100%; }
}

@media only screen and (min-width: 48em) {
  .width-1\@md { width: 8.33333%; }
  .width-2\@md { width: 16.66667%; }
  .width-3\@md { width: 25%; }
  .width-4\@md { width: 33.33333%; }
  .width-5\@md { width: 41.66667%; }
  .width-6\@md { width: 50%; }
  .width-7\@md { width: 58.33333%; }
  .width-8\@md { width: 66.66667%; }
  .width-9\@md { width: 75%; }
  .width-10\@md { width: 83.33333%; }
  .width-11\@md { width: 91.66667%; }
  .width-12\@md { width: 100%; }
}

@media only screen and (min-width: 64em) {
  .width-1\@lg { width: 8.33333%; }
  .width-2\@lg { width: 16.66667%; }
  .width-3\@lg { width: 25%; }
  .width-4\@lg { width: 33.33333%; }
  .width-5\@lg { width: 41.66667%; }
  .width-6\@lg { width: 50%; }
  .width-7\@lg { width: 58.33333%; }
  .width-8\@lg { width: 66.66667%; }
  .width-9\@lg { width: 75%; }
  .width-10\@lg { width: 83.33333%; }
  .width-11\@lg { width: 91.66667%; }
  .width-12\@lg { width: 100%; }
}


/**
 * VARIABLES
 */


/**
 * BASE
 */

html {
  font-family: sans-serif;
  font-size: 62.5%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Helvetica, sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  background: #FFCF31;
  color: #000;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3,
h4, h5, h6 {
  margin-top: 0;
  margin-bottom: .75rem;
  font-weight: 800;
  line-height: 1.3;
}

p {
  margin-top: 0;
}

a {
  color: #000;
}


/**
 * LAYOUT
 */

.container {
  max-width: 104rem;
  margin-right: auto;
  margin-left: auto;
  padding-right: 2rem;
  padding-left: 2rem;
}


/**
 * SECTIONS
 */

.section {}

.section__title {
  font-size: 3rem;
}

