:root {
  --gutter-width: 1rem;
  --gutter-compensation: calc((var(--gutter-width)) * -1);
}

@custom-media --bg-sm-viewport only screen and (min-width: 32em);
@custom-media --bg-md-viewport only screen and (min-width: 48em);
@custom-media --bg-lg-viewport only screen and (min-width: 64em);

.grid {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
}

.grid__item {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.grid--padded {
  margin-right: calc(var(--gutter-compensation) * 0.5);
  margin-left: calc(var(--gutter-compensation) * 0.5);
}

.grid--padded > .grid__item {
  padding-right: calc((var(--gutter-width) * 0.5));
  padding-left: calc((var(--gutter-width) * 0.5));
}

.grid--reverse {
  flex-direction: row-reverse;
}

.grid--top {
  align-items: flex-start;
}

.grid--bottom {
  align-items: flex-end;
}

.grid--center {
  align-items: center;
}

.width-1 { width: calc(100% * 1 / 12); }
.width-2 { width: calc(100% * 2 / 12); }
.width-3 { width: calc(100% * 3 / 12); }
.width-4 { width: calc(100% * 4 / 12); }
.width-5 { width: calc(100% * 5 / 12); }
.width-6 { width: calc(100% * 6 / 12); }
.width-7 { width: calc(100% * 7 / 12); }
.width-8 { width: calc(100% * 8 / 12); }
.width-9 { width: calc(100% * 9 / 12); }
.width-10 { width: calc(100% * 10 / 12); }
.width-11 { width: calc(100% * 11 / 12); }
.width-12 { width: calc(100% * 12 / 12); }

@media (--bg-sm-viewport) {
  .width-1\@sm { width: calc(100% * 1 / 12); }
  .width-2\@sm { width: calc(100% * 2 / 12); }
  .width-3\@sm { width: calc(100% * 3 / 12); }
  .width-4\@sm { width: calc(100% * 4 / 12); }
  .width-5\@sm { width: calc(100% * 5 / 12); }
  .width-6\@sm { width: calc(100% * 6 / 12); }
  .width-7\@sm { width: calc(100% * 7 / 12); }
  .width-8\@sm { width: calc(100% * 8 / 12); }
  .width-9\@sm { width: calc(100% * 9 / 12); }
  .width-10\@sm { width: calc(100% * 10 / 12); }
  .width-11\@sm { width: calc(100% * 11 / 12); }
  .width-12\@sm { width: calc(100% * 12 / 12); }
}

@media (--bg-md-viewport) {
  .width-1\@md { width: calc(100% * 1 / 12); }
  .width-2\@md { width: calc(100% * 2 / 12); }
  .width-3\@md { width: calc(100% * 3 / 12); }
  .width-4\@md { width: calc(100% * 4 / 12); }
  .width-5\@md { width: calc(100% * 5 / 12); }
  .width-6\@md { width: calc(100% * 6 / 12); }
  .width-7\@md { width: calc(100% * 7 / 12); }
  .width-8\@md { width: calc(100% * 8 / 12); }
  .width-9\@md { width: calc(100% * 9 / 12); }
  .width-10\@md { width: calc(100% * 10 / 12); }
  .width-11\@md { width: calc(100% * 11 / 12); }
  .width-12\@md { width: calc(100% * 12 / 12); }
}

@media (--bg-lg-viewport) {
  .width-1\@lg { width: calc(100% * 1 / 12); }
  .width-2\@lg { width: calc(100% * 2 / 12); }
  .width-3\@lg { width: calc(100% * 3 / 12); }
  .width-4\@lg { width: calc(100% * 4 / 12); }
  .width-5\@lg { width: calc(100% * 5 / 12); }
  .width-6\@lg { width: calc(100% * 6 / 12); }
  .width-7\@lg { width: calc(100% * 7 / 12); }
  .width-8\@lg { width: calc(100% * 8 / 12); }
  .width-9\@lg { width: calc(100% * 9 / 12); }
  .width-10\@lg { width: calc(100% * 10 / 12); }
  .width-11\@lg { width: calc(100% * 11 / 12); }
  .width-12\@lg { width: calc(100% * 12 / 12); }
}